body {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    font-family: 'Anton', sans-serif;
    font-size: x-large;
}

/**** containers ****/

/**** callout container ****/

.callout-container {
    height: 90vh;

    background: url(../images/background-girl-with-crossfit-ropes.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.callout-container h1 {
    color: white;
    font-weight: 900;
    font-style: italic;
    font-size: 300%;
    margin-bottom: 30px;
}

.callout-container h2 {
    color: #e5383b;
    font-weight: 900;
    font-style: italic;
    margin-bottom: 20px;
}

#join-now {
    color:white;
    margin-top: 60px;
}

/**** video container ****/

.video-container {

}

/**** facilities container ****/

.facilities-container {

}