/* ------------------------------------------ general */

body {
    font-family: 'Roboto', sans-serif;
}

/* ------------------------------------------ navbar */

.navbar-brand {
    font-family: 'Anton', sans-serif;
    font-size: x-large;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/* ------------------------------- callout container */

.callout-container {
    height: 90vh;

    background: url(../images/background-girl-with-crossfit-ropes.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.callout-container h1 {
    color: white;
    font-weight: 900;
    font-style: italic;
    font-size: 300%;
    margin-bottom: 30px;
}

.callout-container h2 {
    color: #e5383b;
    font-weight: 900;
    font-style: italic;
    margin-bottom: 20px;
}

#join-now {
    color:white;
    margin-top: 60px;
}

.callout-container a {
    font-weight: bold;
}

/* ---------------------------------- video container */

.video-container h2 {
    color: #e5383b;
    font-weight: 900;
    font-style: italic; 
    margin-top: 50px;
    margin-bottom: 30px;
}

/* ------------------------------ facilities container */

.facilities-container h2 {
    color: #e5383b;
    font-weight: 900;
    font-style: italic; 
}

.facilities-container h3 {
    color: white;
    font-weight: 900;
    font-style: italic; 
}

.facilities-container p {
    color: white;
    margin-bottom: 40px;
}

.facilities-container i {
    color: #e5383b;
    margin-bottom: 15px;
}

/* -------------------------- team callout container */

.team-callout-container {
    height: 60vh;

    background: url(../images/team-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.team-callout-container h1 {
    color: white;
    font-weight: 900;
    font-style: italic;
    font-size: 300%;
}

/* --------------------------------- team container */

.team-container h3 {
    color: #e5383b;
    font-weight: 900;
    font-style: italic;
}

.team-container p {
    color: white;
    margin-bottom: 40px;
}

.team-container img {
    margin-top: 40px;
    margin-bottom: 15px;
}

/* ------------------------ contact callout container */

.contact-callout-container {
    height: 60vh;

    background: url(../images/background-contact.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.contact-callout-container h1 {
    color: white;
    font-weight: 900;
    font-style: italic;
    font-size: 300%;
}

.contact-callout-container h2 {
    color: #e5383b;
    font-weight: 900;
    font-style: italic;
    margin-bottom: 20px;
}

/* ---------------------------- contact form container */

.contact-form-container label {
    color: white;
}

/* ------------------------------- footer container */

.footer-container p {
    color: white;
}

.footer-container i {
    color: #e5383b;
}

.footer-container {
    height: 40vh;
    bottom: 0;
  }